@import 'tailwindcss';
@import 'tailwindcss';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';




@font-face {
    font-family: 'Instrument Sans';
    src: url('path/to/font.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/* if error the code is in the notepad file name is app.css*/